@import "styles/base/reset";
@import "styles/base/normalize";
@import "styles/utils/overrides";
@import "styles/utils/variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat";
  font-size: 1.6rem;
  background-color: $base-color;
  overflow: hidden;
}
